<div>
  <input type="text" id="jobName" name="jobName" [(ngModel)]="jobName"
     placeholder="Radno mesto (pozicija)">
</div>

<br><br>

<div>
  <label for="fields">Oblast rada:&nbsp;</label>
  <select [(ngModel)]="selectedFieldId">
    <option value="0">Sve oblasti</option>
    <option *ngFor="let f of fieldService.fields"
          [ngValue]="f.id"
          (click)="getNewTags()">
          {{f.name}}
    </option>
  </select>
</div>

<br><br>

<div>
  <label for="cities">Grad:&nbsp;</label>
  <select [(ngModel)]="selectedCityId">
    <option value="0">Svi gradovi</option>
    <option *ngFor="let c of cityService.cities"
          [ngValue]="c.id">
          {{c.name}}
    </option>
  </select>
</div>

<br><br>

<div>
  <button id="searchBtn" (click)="onSearch();">Pretraga</button>
</div>

<br><br>

<div>
  <button id="showMore" (click)="showMore()">
    Prikaži sve filtere
  </button>
</div>

<br><br>

<div *ngIf="showMoreBool">
  
  <div>
    <label for="employers">Poslodavac:&nbsp;</label>
    <select [(ngModel)]="selectedEmployerId">
      <option value="0">Svi poslodavci</option>
      <option *ngFor="let e of employerService.employers"
            [ngValue]="e.id">
            {{e.name}}
      </option>
    </select>
  </div>
  

  <br><br>

  <label for="workFromHome">Rad od kuće:&nbsp;&nbsp;</label>
  <input type="checkbox" id="workFromHome" name="workFromHome" 
        [(ngModel)]="workFromHome"> <!-- (click)="wfh()" -->
  <br><br>


  <div *ngIf="selectedFieldId"> <!-- ako je izabrana oblast rada != 0  (nesto je izabrano), prikazi tagove-->
    <label for="tags">Izaberite ključne reči:</label><br>
    
    <div class="border border-dark" [ngStyle]="{ 'overflow': 'scroll', 'height': '100px', 'width': '200px' }">
      <div *ngFor="let t of fieldService.tags">
        <input type="checkbox" value="{{t.id}}" id="{{t.id}}"
                (click)="toggleTag(t.id)">
        <label for="{{t.id}}">&nbsp;&nbsp;{{t.name}}</label>
      </div>
    </div>
  </div>

</div>

