<div class="container p-5 bg-white rounded-3 shadow-sm border">

  <div id="anchor-top"></div>

  <h2 class="text-center pb-5">Pretraži oglase</h2>

  <!-- ------- Row 1 ------- -->
  <div class="row pb-3">

    <!-- Naziv oglasa -->
    <div class="col-3">
      <input type="text" id="jobName" name="jobName" [(ngModel)]="jobName" placeholder="Radno mesto (pozicija)"
        class="form-control">
    </div>

    <!-- Oblast rada -->
    <div class="col-3">
      <!-- <label for="fields">Oblast rada:&nbsp;</label> -->
      <select [(ngModel)]="selectedFieldId" (ngModelChange)="getNewTags()" class="form-select">
        <option value="0">Oblast rada</option>
        <option *ngFor="let f of fieldService.fields" [ngValue]="f.id">
          {{f.name}}
        </option>
      </select>
    </div>

    <!-- Tagovi -->
    <div *ngIf="true" class="col-3">
      <div *ngIf="fieldService.tags.length > 0" id="list1" class="dropdown-check-list {{(tagsListVisible)? 'visible' : '' }}" tabindex="100">
        <span class="anchor" (click)="toggleTagsListVisibility()">Ključne reči</span>
        <ul class="items bg-white p-2" style="position: absolute;">
          <!-- Tag -->
          <li *ngFor="let t of fieldService.tags" class="bg-white border rounded-1 me-2 px-2">
            <input type="checkbox" value="{{t.id}}" id="{{t.id}}" (click)="toggleTag(t.id)">
            <label class="text-nowrap" for="{{t.id}}">&nbsp;&nbsp;{{t.name}}</label>
          </li>
        </ul>
      </div>
    </div>

    
    <!-- Pretraga -->
    <div class="col-3">
      <button id="searchBtn" class="btn btn-success shadow w-100" (click)="onSearch();">Pretraga</button>
    </div>
    
  </div>
  
  <!-- ------- Row 2 ------- -->
  <div class="row">
    
    <!-- Poslodavac -->
    <div class="col-3">
      <!-- <label for="employers">Poslodavac:&nbsp;</label> -->
      <select [(ngModel)]="selectedEmployerId" class="form-select">
        <option value="0">Poslodavac</option>
        <option *ngFor="let e of employerService.employers" [ngValue]="e.id">
          {{e.name}}
        </option>
      </select>
    </div>
    
    
    <!-- Grad -->
    <div class="col-3">
      <!-- <label for="cities">Grad:&nbsp;</label> -->
      <select [(ngModel)]="selectedCityId" class="form-select">
        <option value="0">Grad</option>
        <option *ngFor="let c of cityService.cities" [ngValue]="c.id">
          {{c.name}}
        </option>
      </select>
    </div>
    
    
    <!-- Rad od kuce -->
    <div class="col-3">
      <label for="workFromHome">Rad od kuće:&nbsp;&nbsp;</label>
      <input type="checkbox" id="workFromHome" name="workFromHome" [(ngModel)]="workFromHome"> <!-- (click)="wfh()" -->
    </div>

  </div>

  <!-- ------- Row 3 ------- -->
  <!-- <div *ngIf="!showMoreBool" class="row">
    <button id="showMore" (click)="showMore()">
      Prikaži sve filtere
    </button>
  </div> -->

  

</div>

<br><br>

<h2 *ngIf="totalJobsNum > 0" class="text-center pt-5 pb-3">Pronađeni oglasi ({{totalJobsNum}})</h2>

<!-- Navigacija za stranicenje -->
<div *ngIf="totalJobsNum > 0" class="container d-flex justify-content-center">
  <a class="btn" (click)="loadPreviousPage()"> <fa-icon [icon]="iconArrowLeft"></fa-icon> </a>
  <span class="text-center p-2" style="width: 50px;"> {{currentPage + ' /  ' + totalPagesNum}} </span>
  <a class="btn" (click)="loadNextPage()"> <fa-icon [icon]="iconArrowRight"></fa-icon> </a>
</div>

<app-jobs-list [jobs]="(jobs)? jobs : []"></app-jobs-list>

<!-- Navigacija za stranicenje -->
<div *ngIf="totalJobsNum > 0" class="container d-flex justify-content-center">
  <a class="btn" (click)="loadPreviousPage()" href="#anchor-top"> <fa-icon [icon]="iconArrowLeft"></fa-icon> </a>
  <span class="text-center p-2" style="width: 50px;"> {{currentPage + ' /  ' + totalPagesNum}} </span>
  <a class="btn" (click)="loadNextPage()" href="#anchor-top"> <fa-icon [icon]="iconArrowRight"></fa-icon> </a>
</div>

<div id="anchor-bottom"></div>