.navbar2 {
    margin-bottom: 50px;
    background-color: rgb(57, 64, 105);
}

.nav2item { 
    text-decoration: none;
    color: white;
    padding: 15px;
}

.nav2item:hover {
    background-color: rgb(100, 109, 160);
}