<app-navbar2></app-navbar2>
<div class="container-fluid bg-light p-5">
    <div class="container bg-white border rounded-3 shadow-sm">
        <div class="row">
            <div class="col-6 p-4">
                <input class="form-control" type="text" placeholder="Ime">
            </div>
            <div class="col-6 p-4">
                <input class="form-control" type="text" placeholder="Prezime">
            </div>
        </div>
        <div class="row">
            <div class="col-7 p-4">
                <label for="f"></label>
                <input class="form-control" type="file" placeholder="Ime" name="f" id="fajl"
                    (input)="onFileInput()"
                >
            </div>
            <div class="col-7 p-4">
                <button (click)="printConvertedPicture()">STAMPAJ</button>
            </div>
        </div>
    </div>
</div>