/* select:required:invalid {
    color: #666;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: #000;
  }

input[id="salaryFrom"]
{
  width: 145px;
}
input[id="salaryTo"]
{
  width: 145px;
} */