<div class="container">
    <div class="p-4">
        <!-- Employers Jobs -->
        <div class="d-flex flex-column flex-wrap" *ngIf="empJobs && !appJobs">
            <app-jobs-list-card *ngFor="let j of empService.employersJobs" [job]="j"></app-jobs-list-card>
        </div>

        <!-- Applicants Jobs -->
        <div class="d-flex flex-column flex-wrap" *ngIf="!empJobs && appJobs">
            <app-jobs-list-card *ngFor="let j of appService.applicantsJobs" [job]="j"></app-jobs-list-card>
        </div>
        
        <!-- All Jobs -->
        <div class="d-flex flex-column flex-wrap" *ngIf="!empJobs && !appJobs">
            <app-jobs-list-card *ngFor="let j of jobService.jobs" [job]="j"></app-jobs-list-card>
        </div>
    </div>
</div>