<div class="d-flex flex-column p-4
            bg-white border border-secondary
            rounded-3">
    <div class="d-flex flex-row">
        <img [src]="(emp.pictureBase64 != null)? emp.pictureBase64 : defaultPicture" alt="[image]"
            style="width: 200px;"
            class="border rounded-3">

        <div>
            <h3 class="px-4 py-2">{{emp.name}}</h3>
            <h5 class="px-4">PIB | {{emp.tin}}</h5>
            <h5 class="px-4">Telefon | {{emp.phoneNumber}}</h5>
            <h5 class="px-4">Adresa | {{emp.address}}</h5>
            <h5 class="px-4">Email | {{emp.email}}</h5>
        </div>

    </div>


</div>