<div *ngIf="true" style="min-height: 100vh; position: relative;">

    <app-navbar></app-navbar>

    <div class="container text-center">
        <br><br><br><br>
        
        <!-- Sesija je istekla -->
        <div *ngIf="checkSessionExpired()">
            <h1><b class="text-warning">Vaša sesija je istekla!</b></h1>
            <br><br>
            <h3>Prijavite se ponovo</h3>
            <a class="btn btn-success" routerLink="/login">Prijava</a>
        </div>

        <!-- Uspesna prijava na posao -->
        <div *ngIf="checkApplyToJobSuccessful()">
            <h1><b class="text-success">Uspešno ste se prijavili na oglas!</b></h1>
            <br><br>
            <h3>Pošaljite poslodavcu Vaš CV</h3>
            <a class="btn btn-success" href="mailto:{{(param)? param : ''}}?Subject=Prijava%20za%20posao" target="_top">Pošalji mejl</a>
        </div>

        <!-- Uspesna registracija -->
        <div *ngIf="checkRegisterSuccessful()">
            <h1><b class="text-success">Uspešno ste registrovani!</b></h1>
            <br><br>
            <h2>Moći ćete da se prijavite čim administrator potvrdi Vašu registraciju</h2>
            <a class="btn btn-success" routerLink="/login">Prijava</a>
        </div>

    </div>

    <app-footer></app-footer>

</div>