<div class="p-3">
    <button class="bg-white shadow rounded-3 p-4 w-100 border text-start" style="display: block;"
        routerLink="/job/{{job.id}}">

        <h6>{{job.employer!.name}}</h6>
        <h3 class="">{{job.title}}</h3>
        <div class="pt-2 pb-3">{{job.description}}</div>
        <div class="text-primary">{{job.city.name}}</div>

        <!-- Rad od kuce / Tagovi -->
        <div class="d-flex flex-wrap pt-3 pb-3">

            <span *ngIf="job.workFromHome" class="pe-2">
                <strong class="bg-info p-1">rad od kuće</strong>
            </span>

            <span *ngFor="let t of job.tags" class="pe-2">
                <strong class="bg-warning p-1">{{t.name}}</strong>
            </span>

        </div>

        <!-- Plata -->
        <span *ngIf="job.salary" class="" style="color: rgb(46, 194, 149);">
            <strong class="">{{job.salary}}</strong>
        </span>
        
    </button>

</div>