<a class="list-group-item list-group-item-action p-4"
    routerLink="/job"
    [ngStyle]="{'color':'red'}">
    
    <h6>Poslodavac</h6>
    <!--<button type="button" 
        class="btn btn-outline-success" 
        id="snd_cvbtn' + job.id + '" 
        style="float: right;">
        Pošalji CV
    </button>-->
    <h3>job.title</h3>
    <div>job.description</div>
    <div class="pt-4 pb-2 text-primary">job.place</div>

<!--for (let t of job.tags) {
e += '<span class="bg-warning"><strong class="p-1">' + t + '</strong></span>\n';
}

e +=
    '<h4 class="pt-4 pb-2 text-success">$ ' + job.salary + ' /mes.</h4>-->
</a>