<div *ngIf="job" class="container p-0">
  <div class="card rounded-3 shadow-sm border border">
    <div class="card-body p-4 p-md-5">

      <!-- Podaci neki -->
      <div class="d-flex">
        <h1 class="me-auto">{{job.title}}</h1>
        <h5 class=""><a class="a" routerLink="/employer/{{job.employer.id}}">{{job.employer.name}}</a></h5>
      </div>

      <div *ngIf="job.city" class="text-primary">{{job.city.name}}</div>

      <br>

      <!-- Plata -->
      <strong *ngIf="job.salary" class="" style="color: rgb(15, 131, 73);">{{job.salary}}</strong>

      <div class="d-flex flex-wrap pt-3 pb-3">
        <!-- Rad od kuce -->
        <span *ngIf="job.workFromHome" class="pe-2">
          <strong class="bg-info p-1">rad od kuće</strong>
        </span>

        <!-- Tagovi -->
        <span *ngFor="let t of job.tags" class="pe-2">
          <strong class="bg-warning p-1">{{t.name}}</strong>
        </span>

      </div>

      <br><hr>

      <!-- Opis -->
      <div class="pt-4 pb-3" [innerText]="job.description"></div>


      <div class="d-flex align-items-end pt-4">
        <!-- Datum -->
        <small class="text-muted me-auto" style="float: right">Oglas postavljen
          {{job.postDate.toString().substr(0,10)}}</small>

        <!-- Lajkovi -->
        <div class="px-5">
          <button class="align-self-center btn {{(!canLike()? 'disabled' : '')}}" (click)="(!alreadyLiked)? likeJob() : withdrawLikeJob()">
            <fa-icon [icon]="(alreadyLiked)? iconLike : iconLikeEmpty" [size]="'2x'"></fa-icon>
            <h3 class="ps-2" style="display: inline;"> {{totalLikes}} </h3>
          </button>
        </div>

        <!-- Applicant - Apply Btn -->
        <a *ngIf="canApply()" class="btn btn-success btn-lg shadow" (click)="applyMe()">
          PRIJAVI SE
        </a>

        <!-- Admin - Delete Btn -->
        <button *ngIf="canDelete()" type="submit" class="btn btn-danger btn-lg mb-1" (click)="deleteThisJob()">
          OBRIŠI OGLAS
        </button>

      </div>

    </div>
  </div>
</div>