/* @media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
} */

.a {
  text-decoration: none !important;
  color: black !important;
}

.a:hover {
  text-decoration: underline !important;
  color: rgb(0, 153, 255) !important;
}
