<div class="container p-0">
  <div class="card rounded-3 shadow-sm">
    <div class="card-body p-4 p-md-5">
      <div id="datum">
        <small class="text-muted" style="float: right">Oglas postavljen {{jobService.job.postDate.toString().substr(0, 10)}}</small>
      </div>
      
      <h5 class="mb-4">&nbsp; {{jobService.job.employer.name}}, {{jobService.job.city.name}}</h5>
     

      <h1 class="mb-5 pb-2 pb-md-0 mb-md-2 px-md-2">
        {{jobService.job.title}}
      </h1>
      <span style="float: right">
        
      </span>
      
      
      <p><i>{{jobService.job.description}}</i></p>

      <span *ngFor="let tag of jobService.job.tags" class="pe-2">
        <strong class="bg-warning p-1">{{tag.name}}</strong>
      </span> <br>
      <strong *ngIf="jobService.job.salary != undefined" style="color: rgb(46, 194, 149);">
            {{jobService.job.salary}}
      </strong><br>
      <strong class="bg-info p-1" *ngIf="jobService.job.workFromHome">rad od kuće</strong>
     
      
      <!--  Only Applicant can see this button  -->
      <a *ngIf="isApplicant()" class="btn btn-success btn-lg mb-1" 
      href="mailto:{{(jobService.job)? jobService.job.employer.email : ''}}?Subject=Prijava%20za%20posao" target="_top"
      (click)="applyMe()">
        PRIJAVI SE</a>

      <!-- Only Admin can see this button -->
      <button *ngIf="isAdmin()" type="submit" class="btn btn-danger btn-lg mb-1" (click)="deleteThisJob()">
        OBRIŠI OGLAS
      </button>

      

        <!-- Oni ce da nam posalju da li je ovaj applicant vec prijavljen na job,
          to ispitujemo u Initu i u zavisnosti od toga (ne)prikazujemo dugmence.
          U slucaju da nam uz dati job salju mail employera, pozivamo 
          jobService.job.employer.email umesto employerService.employer.email 
          i onInit nece sadrzati this.employerService.getEmployer(this.jobService.job.employer.id);-->

    </div>
  </div>
</div>