<div class="container">
  <!-- Izbor: Kao kandidat, Kao poslodavac -->
  <br>
  <h3 class="text-center">Registrujte se</h3>
  <div class="row justify-content-center py-3">
    <div class="col-8 p-0">
      <div class="d-flex border border-secondary rounded-3">
        <button class="btn btn-lg flex-fill
              {{(showApplicantFormBool)? 'btn-secondary' : 'btn-outline-secondary border-0'}}"
          (click)="showMeApplicantForm()">
          Kao kandidat
        </button>
        <button class="btn btn-lg flex-fill
              {{(!showApplicantFormBool)? 'btn-secondary' : 'btn-outline-secondary border-0'}}"
          (click)="showMeEmployerForm()">
          Kao poslodavac
        </button>
      </div>
    </div>
  </div>

  <div class="text-black">
    <div class="row justify-content-center">

      <!-- ---- APPLICANT - BEGIN ---- -->
      <div *ngIf="showApplicantFormBool" class="col-8 bg-white border rounded-3 shadow-sm p-5">
        <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4">Registracija kandidata</p>

        <form class="mx-1 mx-md-4">
          <!-- Ime i prezime -->
          <div class="row">
            <div class="col-6 p-2">
              <input type="text" id="appFirstName" class="form-control" [(ngModel)]="appFirstName" name="appFirstName">
              <label class="form-label" for="appFirstName">Ime</label>
              <p *ngIf="wrongAppFirstNameBool" class="small fw-bold text-danger">Unesite ispravno ime.</p>
            </div>
            <div class="col-6 p-2">
              <input type="text" id="appLastName" class="form-control" [(ngModel)]="appLastName" name="appLastName" />
              <label class="form-label" for="appLastName">Prezime</label>
              <p *ngIf="wrongAppLastNameBool" class="small fw-bold text-danger">Unesite ispravno prezime.</p>
            </div>
          </div>

          <div class="row">
            <!-- Email -->
            <div class="col-6 p-2">
              <input type="email" id="appEmail" class="form-control" [(ngModel)]="appEmail" name="appEmail" />
              <label class="form-label" for="appEmail">E-mail adresa</label>
              <p *ngIf="wrongAppEmailBool" class="small fw-bold text-danger">Unesite ispravnu e-mail adresu.</p>
            </div>

            <!-- Telefon -->
            <div class="col-6 p-2">
              <input type="text" id="appPhoneNum" class="form-control" [(ngModel)]="appPhoneNum" name="appPhoneNum" />
              <label class="form-label" for="appPhoneNum">Kontakt telefon <br> (Format: samo cifre, znak plus na početku
                opcion)
                <!--(Format: +38XXXXXXXXXX ili 06XXXXXXXX)-->
              </label>
              <p *ngIf="wrongAppPhoneBool" class="small fw-bold text-danger">Unesite ispravan broj telefona.
                (Format: +381XXXXXX ili 06XXXXXXXX, bez crtica i tačaka)</p>
            </div>
          </div>

          <div class="row">
            <!-- Lozinka 1. -->
            <div class="col-6 p-2">
              <input type="password" id="appPass1" class="form-control" [(ngModel)]="appPass1" name="appPass1" />
              <label class="form-label" for="appPass1">Lozinka</label>
              <p *ngIf="wrongAppPass1Bool" class="small fw-bold text-danger">Lozinka se mora sastojati od najmanje 6
                karaktera.</p>
            </div>

            <!-- Lozinka 2. -->
            <div class="col-6 p-2">
              <input type="password" id="appPass2" class="form-control" [(ngModel)]="appPass2" name="appPass2" />
              <label class="form-label" for="appPass2">Potvrdite lozinku</label>
              <p *ngIf="wrongAppPass2Bool" class="small fw-bold text-danger">Lozinke se ne podudaraju.</p>
            </div>
          </div>

          <!-- Slika -->
          <div class="d-flex flex-row">
            <div class="flex-fill mb-0 p-2 pt-3 py-5">
              <label>Izaberite profilnu sliku:</label>
              <input type="file" id="appPicture" name="myfile" name="appPicture"
                (input)="appPictureValidation()"><br><br>
              <p *ngIf="wrongAppPictureBool" class="small fw-bold text-danger">Slika nije u opsegu (4kB, 45kB)
              </p>
            </div>
          </div>

          <!-- Dugme - Registruj se -->
          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="button" class="btn btn-primary btn-lg" (click)="appValidation()">Registrujte se</button>
          </div>

          <div class="form-check d-flex justify-content-center mb-5">
            <label class="form-check-label" class="small fw-bold mt-2 pt-1 mb-0" for="form2Example3">
              Već imate kreiran nalog?
              <a href="/login" class="link-danger">Prijavite se</a>
            </label>
          </div>
        </form>
      </div>
      <!-- APPLICANT - END -->


      <!-- ---- EMPLOYER - BEGIN ---- -->
      <div *ngIf="!showApplicantFormBool" class="col-8 bg-white border rounded-3 shadow-sm p-3">

        <p class="text-center h2 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registracija poslodavca</p>

        <form class="mx-1 mx-md-4">

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="text" id="empCompanyName" class="form-control" [(ngModel)]="empCompanyName"
                name="empCompanyName" />
              <label class="form-label" for="empCompanyName">Naziv firme</label>
              <p *ngIf="wrongEmpCompanyNameBool" class="small fw-bold text-danger">Naziv sme sadržati slova,
                brojeve i jedan razmak između reči.</p>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="email" id="empEmail" class="form-control" [(ngModel)]="empEmail" name="empEmail" />
              <label class="form-label" for="empEmail">E-mail adresa</label>
              <p *ngIf="wrongEmpEmailBool" class="small fw-bold text-danger">Unesite ispravnu e-mail adresu.</p>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="text" id="empPhoneNum" class="form-control" [(ngModel)]="empPhoneNum" name="empPhoneNum" />
              <label class="form-label" for="empPhoneNum">Kontakt telefon<br>(Format: samo cifre, znak plus na
                početku opcion)</label>
              <p *ngIf="wrongEmpPhoneBool" class="small fw-bold text-danger">Unesite ispravan broj telefona.
                (Format: +381XXXXXX ili 06XXXXXXXX, bez crtica i tačaka)</p>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="text" id="empPIB" class="form-control" [(ngModel)]="empPIB" name="empPIB" />
              <label class="form-label" for="empPIB">PIB</label>
              <p *ngIf="wrongEmpPIBBool" class="small fw-bold text-danger">PIB se sastoji od 9 cifara.</p>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="text" id="empAddr" class="form-control" [(ngModel)]="empAddr" name="empAddr" />
              <label class="form-label" for="empAddr">Adresa sedišta firme</label>
              <p *ngIf="wrongEmpAddrBool" class="small fw-bold text-danger">Adresa sme sadržati slova, brojeve,
                kosu crtu \ i jedan razmak između reči.</p>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="password" id="empPass1" class="form-control" [(ngModel)]="empPass1" name="empPass1" />
              <label class="form-label" for="empPass1">Lozinka</label>
              <p *ngIf="wrongEmpPass1Bool" class="small fw-bold text-danger">Lozinka se mora sastojati od
                najmanje 6 karaktera.</p>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <input type="password" id="empPass2" class="form-control" [(ngModel)]="empPass2" name="empPass2" />
              <label class="form-label" for="empPass2">Potvrdite lozinku</label>
              <p *ngIf="wrongEmpPass2Bool" class="small fw-bold text-danger">Lozinke se ne podudaraju.</p>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-key fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
              <label>Izaberite profilnu sliku:</label>
              <input type="file" id="empPicture" name="myfile" name="empPicture"
                (input)="empPictureValidation()"><br><br>
              <p *ngIf="wrongEmpPictureBool" class="small fw-bold text-danger">Slika nije u opsegu (4kB, 45kB)
              </p>
            </div>
          </div>

          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button type="button" class="btn btn-primary btn-lg" (click)="empValidation()">Registrujte
              se</button>
          </div>

          <div class="form-check d-flex justify-content-center mb-5">
            <label class="form-check-label" class="small fw-bold mt-2 pt-1 mb-0" for="form2Example3">
              Već imate kreiran nalog?
              <a href="/login" class="link-danger">Prijavite se</a>
            </label>
          </div>

        </form>

      </div> <!-- kraj diva za poslodavca-->

    </div>
  </div>
</div>