.navbar2 {
    margin-bottom: 50px;
    background-color: rgb(57, 64, 105);
}

.nav2item { 
    text-decoration: none;
    color: white;
    padding: 15px;
    /* height: 3.5em;
    width: 3.5em; */
}

.nav2item:hover {
    background-color: rgb(100, 109, 160);
}

.nav-active {
    background-color: rgb(100, 109, 160);
}