<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" aria-current="page" href="/">Početna strana</a>
            </li>
        </ul>
    </div>
    <!-- Visitor Options -->
    <div *ngIf="this.checkRole([this.accessService.roleType.Visitor])" class="mx-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Prijava</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">Registracija</a>
            </li>
        </ul>
    </div>
</nav>