<div class="nav-bar container-fluid shadow">

    <div class="row">
        <!-- Leva strana -->
        <div class="col-5 p-0">
            <div class="d-flex flex-row">

                <!-- Home -->
                <a *ngIf="check('home')" class="nav-item {{(checkActive('home')?'nav-active':'')}}" routerLink="/">
                    <fa-icon [icon]="(isAdmin() || isEmployer())? iconHouseUser : iconHouse" [size]="'2x'"></fa-icon>
                </a>
                
                <!-- User Lists -->
                <a *ngIf="check('employers')" class="nav-item {{(checkActive('employers')?'nav-active':'')}}" routerLink="/employers">Poslodavci</a>
                <a *ngIf="check('applicants')" class="nav-item {{(checkActive('applicants')?'nav-active':'')}}" routerLink="/applicants">Kandidati</a>
                
                <!-- My Jobs -->
                <a *ngIf="check('my-jobs-app')" class="nav-item {{(checkActive('my-jobs-app')?'nav-active':'')}}" routerLink="/my-jobs">Aplicirani poslovi</a>
                <a *ngIf="check('jobs-feed')" class="nav-item {{(checkActive('jobs-feed')?'nav-active':'')}}" routerLink="/jobs-feed">Pretraži oglase</a>
            </div>
        </div>

        <!-- Centar -->
        <div class="col-2 p-0">
            <div class="d-flex justify-content-center">
                <!-- New Job Post -->
                <a *ngIf="check('new-job')" class="nav-item {{(checkActive('new-job')?'nav-active':'')}}" routerLink="/new-job">Kreiraj novi oglas</a>
            </div>
        </div>

        <!-- Desna strana -->
        <div class="col-5 p-0">
            <div class="d-flex flex-row-reverse">
                <!-- Login, Logout, Register-->
                <a *ngIf="check('logout')" class="nav-item {{(checkActive('logout')?'nav-active':'')}}" routerLink="/logout">Odjava</a>
                <a *ngIf="check('login')" class="nav-item {{(checkActive('login')?'nav-active':'')}}" routerLink="/login">Prijava</a>
                <a *ngIf="check('register')" class="nav-item {{(checkActive('register')?'nav-active':'')}}" routerLink="/register">Registracija</a>
            </div>
        </div>
    </div>
</div>