.nav-bar {
    margin-bottom: 50px;
    background-color: rgb(57, 64, 105);
}

.nav-bar .d-flex {
    height: 100%;
}

.nav-item { 
    text-decoration: none;
    color: white;
    padding: 15px;
}

.nav-item:hover {
    background-color: rgb(100, 109, 160);
}

.nav-active {
    background-color: rgb(100, 109, 160);
}