<div *ngIf="pageLoaded" style="min-height: 100vh; position: relative;">
    
    <app-navbar [activeNav]="'employers'"></app-navbar>
    
    <div *ngIf="employers.length > 0" class="container">
        <h2 class="text-center pt-4 pb-5">Lista poslodavaca</h2>
        <div class="p-4">
            <div class="d-flex flex-wrap justify-content-center">
                <app-employer-list-card class="" *ngFor="let emp of employers" [data]="emp"></app-employer-list-card>
            </div>
        </div>
    </div>
    
    <app-footer></app-footer>

</div>