<div *ngIf="app" class="row p-4 bg-white border rounded-3 shadow-sm">
    <div class="col-4 p-0">
        <img [src]="(app.pictureBase64 != null)? app.pictureBase64 : defaultPicture" alt="[image]" style="width: 100%;"
            class="border rounded-3">
    </div>

    <div class="col-8 p-0">
        <div class="px-4">
            <h3 class="text-wrap py-2">{{app.firstName + ' ' + app.lastName}}</h3>
            <h5 class="text-wrap">{{app.phoneNumber}}</h5>
            <h5 class="text-break">{{app.email}}</h5>
        </div>
    </div>

    <div class="d-flex px-4 d-flex align-items-end flex-column">
        <button *ngIf="canDelete()" (click)="onDeleteClick()" class="btn btn-danger border mt-auto">
            <fa-icon [icon]="iconDelete"></fa-icon>
        </button>
    </div>
</div>