<div *ngIf="pageLoaded" style="min-height: 100vh; position: relative;">

    <app-navbar></app-navbar>

    <app-job-info-card *ngIf="jobID > 0" [id]="jobID" (checkedOwnership)="null"></app-job-info-card>

    <div class="container p-0">
        <div class="row">
            <div *ngIf="applicants" class="col">
                <!-- Lista kandidata za ovaj posao -->
                <div>
                    <h3 class="text-center p-3 pt-5">Kandidati prijavljeni na posao</h3>
                    <div *ngIf="applicants.length > 0" class="container p-0">
                        <div class="p-2 pb-0">
                            <div class="d-flex flex-wrap flex-column">
                                <app-applicant-list-card class="" *ngFor="let ap of applicants" [data]="ap">
                                </app-applicant-list-card>
                            </div>
                        </div>
                    </div>
                    <!-- Placeholder za praznu listu -->
                    <div *ngIf="applicants.length == 0" class="container p-0 pt-2">
                        <div class="border border-secondary rounded-3 d-flex flex-column align-items-center">
                            <h5 class="p-4">Nema prijavljenih kandidata</h5>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Lista komentara -->
            <div *ngIf="jobID > 0" class="col">
                <app-job-comments-list [jobID]="jobID"></app-job-comments-list>
            </div>
        </div>
    </div>

    <app-footer></app-footer>

</div>