<!-- <app-employer-info-modal [emp]="activeEpm!"></app-employer-info-modal> -->
<div class="container">

    <div class="col">
        <h3 class="text-center">Registracije na čekanju 
            ({{employers.length + applicants.length}})</h3>
        <br>
    </div>

    <div class="row p-0">
        <!-- Lista -->
        <div class="col-6 p-3">
            <!-- List Type -->
            <div class="d-flex border border-secondary rounded-3">
                <button class="btn btn-lg flex-fill
                    {{(!empListAcitive)? 'btn-secondary' : 'btn-outline-secondary border-0'}}" 
                    (click)="onAppListSelect()">
                    Kandidati
                </button>
                <button class="btn btn-lg flex-fill
                    {{(empListAcitive)? 'btn-secondary' : 'btn-outline-secondary border-0'}}" 
                    (click)="onEmpListSelect()">
                    Poslodavci
                </button>
            </div>
            <div class="my-4 p-4 pe-2 border border-secondary rounded-3" style="height: 60vh;">
                <div style="height: 100%; overflow: scroll;" class="pe-2">
                    <!-- Employers -->
                    <div *ngIf="empListAcitive" class="d-flex flex-column">
                        <app-registration-card *ngFor="let e of employers" [empData]="e"
                            (cardClick)="showRegInfo(e.id)">
                        </app-registration-card>
                    </div>
                    <!-- Applicants -->
                    <div *ngIf="!empListAcitive" class="d-flex flex-column">
                        <app-registration-card *ngFor="let a of applicants" [appData]="a"
                            (cardClick)="showRegInfo(a.id)">
                        </app-registration-card>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 p-3">
            <!-- Prazan prikaz -->
            <div *ngIf="!activeEmp && !activeApp" class="border border-secondary rounded-3">
                <div class="d-flex flex-column align-items-center">
                    <h5 class="p-4">Nije izabrana nijedna registracija</h5>
                </div>
            </div>

            <!-- Prikaz -->
            <div *ngIf="activeEmp || activeApp" class="">
                
                <!-- Employer -->
                <app-employer-info-card class=""
                    [dissableDelete]="true"
                    *ngIf="activeEmp" [emp]="activeEmp">
                </app-employer-info-card>
                
                <!-- Applicant -->
                <app-applicant-info-card class="" 
                    [dissableDelete]="true"
                    *ngIf="activeApp" [app]="activeApp">
                </app-applicant-info-card>
                
                <!-- Approve / Reject -->
                <div class="my-4 border border-secondary rounded-3 d-flex">
                    <button class="btn btn-lg btn-success flex-fill rounded-0" (click)="onApprove()">Prihvati</button>
                    <button class="btn btn-lg btn-danger flex-fill rounded-0" (click)="onReject()">Odbaci</button>
                </div>
            </div>
        </div>
    </div>
</div>