<div *ngIf="pageLoaded" style="min-height: 100vh; position: relative;">

  <app-navbar [activeNav]="'new-job'"></app-navbar>

  <div class="container bg-white rounded-3 shadow-sm border p-5">

    <div class="row text-center p-0 pb-5 m-0">
      <h2>Kreirajte oglas</h2>
    </div>

    <div class="row pb-3">

      <!-- Naziv oglasa -->
      <div class="col-6">
        <input type="text" id="jobTitle" name="jobTitle" [(ngModel)]="jobTitle" placeholder="Radno mesto"
          class="form-control">
        <p *ngIf="wrongJobTitleBool" class="small fw-bold text-danger">Unesite/korigujte naziv radnog mesta. (minimum 3, maksimum 50 karaktera)</p>
      </div>

      <!-- Oblast rada -->
      <div class="col-3">
        <!-- <label for="fields">Oblast rada:&nbsp;</label> -->
        <select [(ngModel)]="selectedFieldId" (ngModelChange)="getNewTags()" id="field" class="form-select">
          <option value="0">Oblast rada</option>
          <option *ngFor="let f of fields" [ngValue]="f.id">
            {{f.name}}
          </option>
        </select>
        <p *ngIf="wrongFieldIdBool" class="small fw-bold text-danger">Izaberite oblast rada</p>
      </div>

      <!-- Kljucne reci -->
      <div class="col-3">
        <div *ngIf="tags.length > 0" id="list1" class="dropdown-check-list {{(tagsListVisible)? 'visible' : '' }}" tabindex="100">
          <span class="anchor rounded-2" (click)="toggleTagsListVisibility()">Ključne reči</span>
          <ul class="items bg-white p-2" style="position: absolute;">
            <!-- Tag -->
            <li *ngFor="let t of tags" class="bg-white border rounded-1 me-2 px-2">
              <input type="checkbox" value="{{t.id}}" id="{{t.id}}" (click)="toggleTag(t.id)">
              <label for="{{t.id}}">&nbsp;&nbsp;{{t.name}}</label>
            </li>
          </ul>
        </div>

      </div>

    </div>

    <div class="row pb-3">

      <!-- Poslodavac -->
      <div class="col-12">
        <div class="row">
          <div class="col-3">
            <input type="text" class="form-control" id="salaryFrom" name="salaryFrom" [(ngModel)]="salaryFrom"
              placeholder="Od (ukucajte iznos)">
          </div>
          <div class="col-3">
            <input type="text" class="form-control" id="salaryTo" name="salaryTo" [(ngModel)]="salaryTo"
              placeholder="Do (ukucajte iznos)">
          </div>
          <div class="col">
            <select [(ngModel)]="selectedCurrencyName" (click)="stampaj()" class="form-select">
              <option value="RSD">RSD</option>
              <option value="EUR">EUR</option>
              <option value="USD">USD</option>
              <option value="AUD">AUD</option>
              <option value="SEK">SEK</option>
              <option value="CHF">CHF</option>
            </select>
          </div>
          <div class="col">
            <select [(ngModel)]="selectedWeekMonthYear" class="form-select">
              <option value="nedeljno">nedeljno</option>
              <option value="mesečno">mesečno</option>
              <option value="godišnje">godišnje</option>
            </select>
          </div>

          <div class="col-3">
            <select [(ngModel)]="selectedCityId" class="form-select">
              <option value="0">Grad</option>
              <option *ngFor="let c of cities" [ngValue]="c.id">
                {{c.name}}
              </option>
            </select>
          </div>

        </div>
        <div class="row">
          <p *ngIf="wrongSalaryBool" class="small fw-bold text-danger">Neispravno ste uneli platu. Dozvoljeno je
            koristiti samo cifre.</p>
        </div>
      </div>

    </div>

    <div class="row pb-3">
      <div class="col">
        <textarea class="form-control" rows="4" id="description" name="description"
          [(ngModel)]="description"></textarea>
        <p *ngIf="wrongDescBool" class="small fw-bold text-danger">Opis posla mora sadržati bar 15 karaktera.</p>
      </div>
    </div>

    <div class="row pb-3">
      <div class="col">
        <label>Moguć je rad od kuće?&nbsp;&nbsp;&nbsp;</label>
        <input type="checkbox" id="wfhCheck" name="wfhCheck" [(ngModel)]="wfhCheckBool">
      </div>
    </div>

    <div class="mt-5">
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-success btn-lg" id="postIt" name="postIt" (click)="validation()">POSTAVI
          OGLAS</button>
      </div>
    </div>

  </div>

  <app-footer></app-footer>

</div>