<div *ngIf="pageLoaded" style="min-height: 100vh; position: relative;">
    
    <app-navbar></app-navbar>
    
    <div *ngIf="applicant" class="container">
        <div class="container" style="max-width: 60em;">
            <app-applicant-info-card [app]="applicant"></app-applicant-info-card>
        </div>
        <br>
        <h3 *ngIf="isMe()" class="text-center pt-5">Moji oglasi</h3>
        <h3 *ngIf="!isMe() && isAdmin()" class="text-center pt-5">Oglasi na koje je kandidat prijavljen</h3>
        <app-jobs-list [appJobs]='true' [showAnything]="isAdmin() || isMe()" [uid]="applicant.id"></app-jobs-list>
    </div>

    <app-footer></app-footer>

</div>
